* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    background-image: url(../img/background_portfolio_purple.png);
    background-repeat: repeat;
    background-size: 300px;
}

body,
html {
    min-height: 100vh;
}

body {
    color: white;
    background-color: #1C1C1C;
    text-align: center;
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 40px;
}

h1 {
    margin: 20px 15px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 40px;
}

.menu {
    background-color: black;
}

.menu ul {
    text-align: center;
    padding: 20px;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
}

.menu a:hover {
    color: #5a0990;
}

.sobre-mim {
    padding: 12px 50px;
    padding-bottom: 40px;
}

.sobre-mim h1 {
    color: #9051ba;
}

.techs {
    padding: 12px 50px;
    padding-bottom: 40px;
}

.skills {
    padding: 12px 50px;
    padding-bottom: 40px;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

.skill li {
    margin-bottom: 10px;
}

skills li::before {
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 5px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3a055d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}